# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.dep
IAR_Proj/OT_NFC_1_10V.dep
IAR_Proj/OT_NFC_1_10V.ewp
IAR_Proj/output/100W/Obj/Acl.pbi
IAR_Proj/output/100W/Obj/Acl.pbi.xcl
IAR_Proj/output/100W/Obj/acmp.pbi
IAR_Proj/output/100W/Obj/acmp.pbi.xcl
IAR_Proj/output/100W/Obj/adc.pbi
IAR_Proj/output/100W/Obj/adc.pbi.xcl
IAR_Proj/output/100W/Obj/crc.pbi
IAR_Proj/output/100W/Obj/crc.pbi.xcl
IAR_Proj/output/100W/Obj/crc16.pbi
IAR_Proj/output/100W/Obj/crc16.pbi.xcl
IAR_Proj/output/100W/Obj/crc_driver_sw.pbi
IAR_Proj/output/100W/Obj/crc_driver_sw.pbi.xcl
IAR_Proj/output/100W/Obj/DaliServices.pbi
IAR_Proj/output/100W/Obj/DaliServices.pbi.xcl
IAR_Proj/output/100W/Obj/DaliUart_XMC.pbi
IAR_Proj/output/100W/Obj/DaliUart_XMC.pbi.xcl
IAR_Proj/output/100W/Obj/driver.pbi
IAR_Proj/output/100W/Obj/driver.pbi.xcl
IAR_Proj/output/100W/Obj/eru.pbi
IAR_Proj/output/100W/Obj/eru.pbi.xcl
IAR_Proj/output/100W/Obj/filter.pbi
IAR_Proj/output/100W/Obj/filter.pbi.xcl
IAR_Proj/output/100W/Obj/flash_driver_xmc1300.pbi
IAR_Proj/output/100W/Obj/flash_driver_xmc1300.pbi.xcl
IAR_Proj/output/100W/Obj/i2c_config.pbi
IAR_Proj/output/100W/Obj/i2c_config.pbi.xcl
IAR_Proj/output/100W/Obj/i2c_driver_xmc1300.pbi
IAR_Proj/output/100W/Obj/i2c_driver_xmc1300.pbi.xcl
IAR_Proj/output/100W/Obj/i2c_module.pbi
IAR_Proj/output/100W/Obj/i2c_module.pbi.xcl
IAR_Proj/output/100W/Obj/main.pbi
IAR_Proj/output/100W/Obj/main.pbi.xcl
IAR_Proj/output/100W/Obj/mcu_config.pbi
IAR_Proj/output/100W/Obj/mcu_config.pbi.xcl
IAR_Proj/output/100W/Obj/MemoryBank_Astro.pbi
IAR_Proj/output/100W/Obj/MemoryBank_Astro.pbi.xcl
IAR_Proj/output/100W/Obj/MemoryBank_Clm.pbi
IAR_Proj/output/100W/Obj/MemoryBank_Clm.pbi.xcl
IAR_Proj/output/100W/Obj/MemoryBank_Csm.pbi
IAR_Proj/output/100W/Obj/MemoryBank_Csm.pbi.xcl
IAR_Proj/output/100W/Obj/MemoryBank_Eol.pbi
IAR_Proj/output/100W/Obj/MemoryBank_Eol.pbi.xcl
IAR_Proj/output/100W/Obj/MemoryBank_Info.pbi
IAR_Proj/output/100W/Obj/MemoryBank_Info.pbi.xcl
IAR_Proj/output/100W/Obj/MemoryBank_Tfm.pbi
IAR_Proj/output/100W/Obj/MemoryBank_Tfm.pbi.xcl
IAR_Proj/output/100W/Obj/MemoryBanksGeneric.pbi
IAR_Proj/output/100W/Obj/MemoryBanksGeneric.pbi.xcl
IAR_Proj/output/100W/Obj/Mpc.pbi
IAR_Proj/output/100W/Obj/Mpc.pbi.xcl
IAR_Proj/output/100W/Obj/MpcAllocation.pbi
IAR_Proj/output/100W/Obj/MpcAllocation.pbi.xcl
IAR_Proj/output/100W/Obj/MpcDescriptors.pbi
IAR_Proj/output/100W/Obj/MpcDescriptors.pbi.xcl
IAR_Proj/output/100W/Obj/MpcPerm4Legacy.pbi
IAR_Proj/output/100W/Obj/MpcPerm4Legacy.pbi.xcl
IAR_Proj/output/100W/Obj/MSK.pbi
IAR_Proj/output/100W/Obj/MSK.pbi.xcl
IAR_Proj/output/100W/Obj/nfc_config.pbi
IAR_Proj/output/100W/Obj/nfc_config.pbi.xcl
IAR_Proj/output/100W/Obj/nfc_module.pbi
IAR_Proj/output/100W/Obj/nfc_module.pbi.xcl
IAR_Proj/output/100W/Obj/nvm.pbi
IAR_Proj/output/100W/Obj/nvm.pbi.xcl
IAR_Proj/output/100W/Obj/O2T.pbi
IAR_Proj/output/100W/Obj/O2T.pbi.xcl
IAR_Proj/output/100W/Obj/OT_NFC_1_10V.pbd
IAR_Proj/output/100W/Obj/OT_NFC_1_10V.pbd.browse
IAR_Proj/output/100W/Obj/OT_NFC_1_10V.pbd.linf
IAR_Proj/output/100W/Obj/power_task.pbi
IAR_Proj/output/100W/Obj/power_task.pbi.xcl
IAR_Proj/output/100W/Obj/ProductionTest.pbi
IAR_Proj/output/100W/Obj/ProductionTest.pbi.xcl
IAR_Proj/output/100W/Obj/pwm.pbi
IAR_Proj/output/100W/Obj/pwm.pbi.xcl
IAR_Proj/output/100W/Obj/simu_i2c.pbi
IAR_Proj/output/100W/Obj/simu_i2c.pbi.xcl
IAR_Proj/output/100W/Obj/SupplyMonitor.pbi
IAR_Proj/output/100W/Obj/SupplyMonitor.pbi.xcl
IAR_Proj/output/100W/Obj/SupplyMonitorStructsInit.pbi
IAR_Proj/output/100W/Obj/SupplyMonitorStructsInit.pbi.xcl
IAR_Proj/output/100W/Obj/sw_timer.pbi
IAR_Proj/output/100W/Obj/sw_timer.pbi.xcl
IAR_Proj/output/100W/Obj/system.pbi
IAR_Proj/output/100W/Obj/system.pbi.xcl
IAR_Proj/output/100W/Obj/system_XMC1300.pbi
IAR_Proj/output/100W/Obj/system_XMC1300.pbi.xcl
IAR_Proj/output/100W/Obj/tick.pbi
IAR_Proj/output/100W/Obj/tick.pbi.xcl
IAR_Proj/output/100W/Obj/usart.pbi
IAR_Proj/output/100W/Obj/usart.pbi.xcl
IAR_Proj/output/100W/Obj/wdt.pbi
IAR_Proj/output/100W/Obj/wdt.pbi.xcl
IAR_Proj/output/100W/Obj/xmc1300_ports_hwdriver.pbi
IAR_Proj/output/100W/Obj/xmc1300_ports_hwdriver.pbi.xcl
IAR_Proj/output/100W/Obj/xmc1_eru.pbi
IAR_Proj/output/100W/Obj/xmc1_eru.pbi.xcl
IAR_Proj/output/100W/Obj/xmc1_flash.pbi
IAR_Proj/output/100W/Obj/xmc1_flash.pbi.xcl
IAR_Proj/output/100W/Obj/xmc1_gpio.pbi
IAR_Proj/output/100W/Obj/xmc1_gpio.pbi.xcl
IAR_Proj/output/100W/Obj/xmc1_rtc.pbi
IAR_Proj/output/100W/Obj/xmc1_rtc.pbi.xcl
IAR_Proj/output/100W/Obj/xmc1_scu.pbi
IAR_Proj/output/100W/Obj/xmc1_scu.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_acmp.pbi
IAR_Proj/output/100W/Obj/xmc_acmp.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_bccu.pbi
IAR_Proj/output/100W/Obj/xmc_bccu.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_ccu4.pbi
IAR_Proj/output/100W/Obj/xmc_ccu4.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_ccu8.pbi
IAR_Proj/output/100W/Obj/xmc_ccu8.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_common.pbi
IAR_Proj/output/100W/Obj/xmc_common.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_eru.pbi
IAR_Proj/output/100W/Obj/xmc_eru.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_gpio.pbi
IAR_Proj/output/100W/Obj/xmc_gpio.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_i2c.pbi
IAR_Proj/output/100W/Obj/xmc_i2c.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_ledts.pbi
IAR_Proj/output/100W/Obj/xmc_ledts.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_math.pbi
IAR_Proj/output/100W/Obj/xmc_math.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_posif.pbi
IAR_Proj/output/100W/Obj/xmc_posif.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_prng.pbi
IAR_Proj/output/100W/Obj/xmc_prng.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_rtc.pbi
IAR_Proj/output/100W/Obj/xmc_rtc.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_spi.pbi
IAR_Proj/output/100W/Obj/xmc_spi.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_uart.pbi
IAR_Proj/output/100W/Obj/xmc_uart.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_usic.pbi
IAR_Proj/output/100W/Obj/xmc_usic.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_vadc.pbi
IAR_Proj/output/100W/Obj/xmc_vadc.pbi.xcl
IAR_Proj/output/100W/Obj/xmc_wdt.pbi
IAR_Proj/output/100W/Obj/xmc_wdt.pbi.xcl
IAR_Proj/settings/OT_NFC_1_10V.100W.general.xcl
IAR_Proj/settings/OT_NFC_1_10V.dbgdt
IAR_Proj/settings/OT_NFC_1_10V.dni
IAR_Proj/settings/OT_NFC_1_10V_Workspace.wsdt
IAR_Proj/settings/OT_NFC_1_10V_Workspace.wspos
*.dep
*.dep
*.pbi
*.ewp
*.pbd
